.about {
    background: url(../img/about-bg.jpg) 50%/cover no-repeat;
    /* height: 720px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 178px 0 90px;
}
.about__title{
    width: 1200px;
    text-align: center;
    font-size: 48px;
    line-height: 1.10;
    font-weight: 400;
    color: var(--primary-color);
    margin: 37px 0 33px;
}
.about__text{
    color: var(--primary-color);
    margin-bottom: 113px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.description{
    width: 100%;
    background: var(--bg-color);
    padding: 141px 0 89px;
    position: relative;
}

.description__container{
    width: 768px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.description__container--inset{
    height: 100%;
    width: 360px;
}
.description__btn {
    padding: 11px 18px;
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.25;
    border: none;
    cursor: pointer;
    margin-top: 41px;
    width: fit-content;
    display: block;
}
.description::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 699px;
    height: 8px;
    width: 48px;
    background: var(--line-color);
}
.title{
    background: var(--primary-color);
    width: 100%;
    padding-top: 140px;
    position: relative;
}
.title__text{
    max-width: 1287px;
    font-size: 96px;
    line-height: 1;
    text-align: center;
    color: var(--secondary-color);
    margin:0 auto 140px;
}
.title::before{
    content: '';
    position: absolute;
    top:100px;
    left: 699px;
    height: 8px;
    width: 48px;
    background: var(--line-color);
}
.sleep{
    background: var(--bg-color);
    padding: 138px 0 100px;
    position: relative;
}
.sleep::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 699px;
    height: 8px;
    width: 48px;
    background: var(--line-color);
}
.sleep__title{
    text-align: center;
    font-size: 32px;
    line-height: 1.13;
    color: var(--secondary-color)
}
.sleep__text{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin: 14px auto 30px;
    width: 554px;

}
.sleep__list{
    width: 1168px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.sleep__listItem{
    width: 346px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sleep__listItem h3{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 12px;
    font-weight: 400;
    color: var(--secondary-color);
}
.escape{
    padding: 138px 0 100px;
    background: var(--primary-color);
    position: relative;
}
.escape::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 136px;
    height: 8px;
    width: 48px;
    background: var(--line-color);
}
.escape__title{
    font-size: 32px;
    line-height: 1.13;  
    color: var(--secondary-color); 
    margin-left: 136px;
    font-weight: 400;   
}
.escape__text{
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-color);
    margin: 12px 0 32px 136px;
    max-width: 600px;
}
.escape__grid{
    max-height: 336px;
    max-width: 1168px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 32px;
    column-gap: 32px;
}
.escape__gridItem{
    display: flex;
}
.escape__gridItem img{
    width: 36px;
    height: 36px;
    margin-right: 16px;
}
.escape__gridItem h4 {
    color: var(--secondary-color);
    font-weight: 400;
}

.escape__gridItem p {
    font-weight: 400;
}
.guests{
    padding: 138px 0 150px;
    background: var(--bg-color);
    position: relative;
}
.guests::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 699px;
    height: 8px;
    width: 48px;
    background: var(--line-color);
}
.guests__title{
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.13;
    color: var(--secondary-color);

}
.guests__text{
    text-align: center;
    max-width: 576px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-color);
    margin: 14px auto 30px;
}
.guests__slider{
    height: 266px;
    margin-left: 136px;
}
.guests__cards{
    display: flex;
}
.guests__cardItem{
    width: 584px;
    height: 266px;
    background: var(--primary-color);
    border: 1px solid rgba(82, 80, 59, 0.1);
    border-radius: 4px;
    padding: 31px;
    position: relative;
}
.guests__cardItem h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    margin: 10px 0;
}
.guests__cardItem p {
    margin-bottom: 19px;
    
}
.guest__name{
    position: absolute;
    bottom: 31px;left: 31px;
    height: 20px;
    border-left: 2px solid #E08631;
    padding-left: 10px;
    
}
.guests__btns{
    width: 130px;
    display: flex;
    gap: 10px;
    position: absolute; 
    bottom: 70px;
    right:136px;
}
.guests__btn{
        height: 60px;
        width: 60px;
        border: 2px solid #52503B;
        border-radius: 30px;
        cursor: pointer;
}
.invitation{
    padding: 100px 0;
    background: var(--primary-color);
     
}
.invitation__wrapper{
    margin: 0 auto;
    max-width: 1168px;
    display: flex;
    justify-content: space-between;

}
.invitation__container{
    max-width: 552px;
    max-height: 166px;
    position: relative;
}
.invitation__grid{
    max-width: 552px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 32px;
}
.invitation__gridItem{
    display: flex;
    height: 67px;
}
.invitation__gridItem p{
    margin-left: 16px;
}
.invitation__title{
    margin-top: 38px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.12;
    color: var(--secondary-color);
}
.invitation__text{
    color: var(--secondary-color);
    margin-top: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.invitation__container::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 8px;
    width: 48px;
    background: var(--line-color);
}