@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-regular.eot');
    src: local(''),
        url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
        url('../fonts/montserrat-v25-latin-regular.woff') format('woff'),
        url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'),
        url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-latin-700.eot');
    src: local(''),
        url('../fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'),
        url('../fonts/montserrat-v25-latin-700.woff') format('woff'),
        url('../fonts/montserrat-v25-latin-700.ttf') format('truetype'),
        url('../fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg');
}
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #52503B;
    --third-color: #333333;
    --bg-color: #FAF8F0;
    --line-color: #E08631;
}
*,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: #E5E5E5;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--third-color);
}
.wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

