.description {
    width: 100%;
    background: var(--bg-color);
    padding: 141px 0 89px;
    position: relative;
}

.description__container {
    width: 768px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.description__container--inset {
    height: 100%;
    width: 360px;
}

.description__btn {
    padding: 11px 18px;
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.25;
    border: none;
    cursor: pointer;
    margin-top: 41px;
    width: fit-content;
    display: block;
}

.description::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 699px;
    height: 8px;
    width: 48px;
    background: var(--line-color);
}