.title{
    background: var(--primary-color);
    width: 100%;
    padding-top: 140px;
    position: relative;
}
.title__text{
    max-width: 1287px;
    font-size: 96px;
    line-height: 1;
    text-align: center;
    color: var(--secondary-color);
    margin:0 auto 140px;
}
.title::before{
    content: '';
    position: absolute;
    top:100px;
    left: 699px;
    height: 8px;
    width: 48px;
    background: var(--line-color);
}